---
- name: "set variables"
  set_fact:
    NODEJS_VERSION: "16"
    ansible_distribution_release: "focal"

- name: "update apt packages"
  become: yes
  apt:
    update_cache: yes

- name: "upgrade all apt packages"
  become: yes
  apt:
    upgrade: yes

- name: "install nodejs prerequisite"
  apt:
    name: ["apt-transport-https", "gcc", "g++", "make"]
    state: present

- name: "add nodejs apt key"
  apt_key:
    url: https://deb.nodesource.com/gpgkey/nodesource.gpg.key
    state: present

- name: "add nodejs repository"
  apt_repository:
    repo: "deb https://deb.nodesource.com/node_{{ NODEJS_VERSION }}.x {{ ansible_distribution_release }} main"
    state: present
    update_cache: yes

- name: "install node.js and npm"
  become: true
  apt:
    name: ["nodejs"]
    state: present

# - name: "install npm"
#   become: true
#   become_method: sudo
#   apt:
#     name: ["npm"]
#     state: present

- name: "install pm2 v1"
  become: true
  shell: |
    npm i pm2 --global

# - name: "install pm2"
#   become: true
#   become_method: sudo
#   npm:
#     name: ["pm2"]
#     global: yes
#     state: present
#     production: yes

- name: "create a directory simple"
  become: true
  become_method: sudo
  become_user: root
  file:
    path: /home/ubuntu/web
    state: directory
    mode: "0775"

- name: "copy index file"
  become: true
  copy:
    src: index.js
    dest: "/home/ubuntu/web/index.js"

- name: "start and run index file"
  become: true
  become_method: sudo
  command: "pm2 start /home/ubuntu/web/index.js -f"

- name: "check pm2"
  become: true
  become_method: sudo
  command: "pm2 status"